@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
:root{
  --clr-light-cyan: 193 38% 86%;
  --clr-neon-green: 150 100% 66%;
  --clr-grayish-blue: 217 19% 38%;
  --clr-dr-grayish-blue: 217 19% 24%;

  --clr-pr: var(--clr-light-cyan);
  --clr-sec: var(--clr-neon-green);
  --clr-bg-pr: var(--clr-grayish-blue);
  --clr-bg-sec: var(--clr-dr-grayish-blue);
}

*{
  box-sizing: border-box;
  margin: 0;
  cursor: inherit;
}

html{
  cursor: default;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: hsl(var(--clr-bg-sec));
  color: hsl(var(--clr-pr));
  font-family: 'Manrope', sans-serif;
}

h1{
  color: hsl(var(--clr-sec));
}

img{
  display: block;
  max-width: 100%;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

input, textarea, button{
  font: inherit;
}

button{
  color: inherit;
  background-color: hsl(var(--clr-sec));
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.container{
  display: grid;
  min-height: max(90vh, 600px);
  place-content: center;
}

.slip{
  background-color: hsl(var(--clr-bg-pr));
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

.slip> *+*{
  margin-top: 1rem;
}

.slip__title{
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}
