@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
:root{
  --clr-light-cyan: 193 38% 86%;
  --clr-neon-green: 150 100% 66%;
  --clr-grayish-blue: 217 19% 38%;
  --clr-dr-grayish-blue: 217 19% 24%;

  --clr-pr: var(--clr-light-cyan);
  --clr-sec: var(--clr-neon-green);
  --clr-bg-pr: var(--clr-grayish-blue);
  --clr-bg-sec: var(--clr-dr-grayish-blue);
}

*{
  box-sizing: border-box;
  margin: 0;
  cursor: inherit;
}

html{
  cursor: default;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: hsl(var(--clr-bg-sec));
  color: hsl(var(--clr-pr));
  font-family: 'Manrope', sans-serif;
}

h1{
  color: hsl(var(--clr-sec));
}

img{
  display: block;
  width: 100%;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

button{
  font: inherit;
}

picture{
  display: block;
  width: 90%;
  margin-inline: auto;
}

button{

}

.container{
  display: grid;
  min-height: max(90vh, 600px);
  place-content: center;
}

.slip{
  background-color: hsl(var(--clr-bg-pr)/0.2);
  padding: 1rem;
  padding-bottom: 3rem;
  margin: 0.75rem;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  font-weight: 800;
  max-width: 650px;
  box-shadow: 4px 4px 16px hsl(var(--clr-pr)/0.3);
  transition: all 0.3s linear;
}

.slip:hover{
  background-color: hsl(var(--clr-bg-pr)/0.1);
  box-shadow: 4px 4px 16px hsl(var(--clr-pr)/0.5);
}

.slip> *+*{
  margin-top: 1rem;
}

.slip__title{
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slip__advice{
  font-size: 1.75rem;
  padding-bottom: 1rem;
  position: relative;
}

.slip__btn{
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  color: inherit;
  background-color: hsl(var(--clr-sec));
  border: none;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 8px hsl(var(--clr-pr)/0.3);
  transition: all 0.3s linear;
}

.slip__btn:hover{
  box-shadow: 0px 0px 32px hsl(var(--clr-sec)/0.8);
  transform: translate(-50%, 50%) scale(1.05);
}

.slip__btn:active{
  transform: translate(-50%, 50%) scale(1.05) rotate(360deg);
}

.attribution{
  font-size: 0.75rem;
  text-align: center;
}

.attribution a{
  color: hsl(var(--clr-sec));
  font-weight: 800;
  letter-spacing: 1px;
}

.attribution a:hover{
  text-decoration: underline;
}
